body {
    background-image: url('/img/bgimg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(217, 222, 226);
    /* height: 2000px; */
}

.special_font {
    font-family: 'Libre Caslon Display', serif;
    font-size: 2rem;
}
.resume {
    margin: 25px;
}
.explore {
    display: inline-block;
}
.explore a:hover {
    text-decoration: rgba(0, 0, 0, 0.3) underline;
}
.header_content {
    padding-left: 8%;
    padding-top: 15px;
    font-size: 18px;
    position: fixed;
}
.explore a{
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.intro_container {
    padding-left: 13rem;
    padding-top: 10rem;
    text-align: center;
    display: inline-block;
    max-width: 30%;
}
.intro_container .name {
    font-size: 8rem;
    /* word-spacing: 2rem; */
}
.intro_content{
    color: rgba(0, 0, 0, 0.70);
    margin-top: 51px;
    word-spacing: 1px;
    line-height: 130%;
    height: 600%;
}
.qualifications{
    height: 100px;
    /* background-color: yellow; */
}

.intro_container form input, button {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 4px;
    padding: 10px;
    border: none;
}

.intro_container form button {
    width: 320px;
    height: 50px;
}

.intro_container form button:hover {
    background-color: rgba(0, 0, 0, 0.15);;
    cursor:pointer;
}

.intro_container form div p {
    display: inline;
}