.col-2{
    background-color: #F7F7FE;
    border-right: 1px solid gray;
}

header,.des{
    background-color: rgb(219, 205, 174);
}
.contain-1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
}

.info-box{
    margin:5px;
    margin-left:90vh;
    padding:5px;
    background-color: #f4f4b8;
    border: 1px solid orange;
    color:red;
    width:50vh;
}