*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpeg);
    /* background: url(bgimg.jpg); */
}
form{
    box-shadow: 2px 6px 100px #ffffff;
}
.Container{
    margin-top: 70px;
}
.BillContainer{
   margin-left: 100px;
   margin-right: 60px; 
}