
.special_font {
    font-family: 'Libre Caslon Display', serif;
    font-size: 2rem;
}
.resume {
    margin: 25px;
}
.explore {
    display: inline-block;
}
.explore a:hover {
    text-decoration: rgba(0, 0, 0, 0.3) underline;
}
.header_content {
    padding-left: 8%;
    padding-top: 15px;
    font-size: 18px;
    position: fixed;
}
.explore a{
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.intro_container {
    padding-left: 13rem;
    padding-top: 10rem;
    text-align: center;
    display: inline-block;
    max-width: 30%;
}
.intro_container .name {
    font-size: 8rem;
    /* word-spacing: 2rem; */
}
.intro_content{
    color: rgba(0, 0, 0, 0.70);
    margin-top: 51px;
    word-spacing: 1px;
    line-height: 130%;
    height: 600%;
}
.qualifications{
    height: 100px;
    /* background-color: yellow; */
}

.intro_container form input, button {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 4px;
    padding: 10px;
    border: none;
}

.intro_container form button {
    width: 320px;
    height: 50px;
}

.intro_container form button:hover {
    background-color: rgba(0, 0, 0, 0.15);;
    cursor:pointer;
}

.intro_container form div p {
    display: inline;
}

.payment_details{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 7rem;
    text-align: center;
}
h1 {
    text-align: center;
  }
  
  .unpaid{
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .options {
    margin-bottom: 20px;
  }
  
  .refresh {
    float: right;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .sort {
    cursor: pointer;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    font-family: 'Libre Caslon Display', serif;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    max-width: 600px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-details {
    margin-bottom: 30px;
}

.item-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}

#grandTotal {
    font-weight: bold;
    font-size: 18px;
}

textarea {
    height: 100px;
}

.add-another {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #b33b47;
}

.button1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #b33b47;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.container {
    max-width: full screen;
    margin: 0 auto;
}